@if (title) {
  <h1>{{ title }}</h1>
}

@if (title) {
  <h5>Written by: {{ author }}</h5>
}

@if (content) {
  <p>{{ content }}</p>
}

@for (image of images; track image) {
  <img [src]="image" />
}
<br /><br />
@if (currentlyLoggedIn === author) {
  <button
    class="btn btn-secondary btn-lg active"
    role="button"
    (click)="delete()"
  >
    Izbriši
  </button>
}
<br />
<br />
@if (currentlyLoggedIn === author) {
  <a
    class="btn btn-primary btn-lg active"
    role="button"
    [routerLink]="['/upload', this.blogId]"
    >Naloži</a
  >
}
